<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Don’t rewrite requests for actual files or directories
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # All other requests -> index.html
  RewriteRule . index.html [L]
</IfModule>