@import "tailwindcss";

@theme {
  --color-mainBg: #0d0614;
  --color-navBg: #171721;
  --color-tileBg: #364153;
  --color-primaryBorder: #646cff;
  --color-secondaryBorder: #202039;
  --color-hoverBorder: #dadada;
  --color-interactiveText: #646cff;
  --color-hoverText: #dadada;
  --color-primaryText: #dadada;
  --color-secondaryText: #99a1af;
  --color-errorText: #ff0000;
  --color-primaryButton: #646cff;
  --color-hoverButton: #dadada;
}

@layer components {
  .button {
    @apply bg-primaryButton !text-mainBg hover:bg-hoverButton rounded px-6 py-3 text-lg transition;
  }
}

@layer base {
  html,
  body {
    @apply bg-black;
    overscroll-behavior-y: none;
  }
  main,
  footer {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

:root {
  font-family: system-ui, monospace, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 600;
  color: var(--color-interactiveText);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-hoverText);
}

body {
  font-family: monospace;
  font-synthesis: none;
  color: var(--color-primaryText);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: 600;
}

dd,
dt {
  margin-left: 1.5em;
  font-size: 0.8rem;
  line-height: 1.25rem;
  font-style: italic;
}

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  letter-spacing: 0.025em;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.025em;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.025em;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.025em;
}

.text-sm {
  font-size: 0.8rem;
  line-height: 1.25rem;
}

th {
  font-weight: 500;
}
