@import "tailwindcss";

@theme {
  --color-mainBg: #0d0614;
  --color-navBg: #171721;
  --color-tileBg: #364153;
  --color-primaryBorder: #646cff;
  --color-secondaryBorder: #202039;
  --color-hoverBorder: #dadada;
  --color-interactiveText: #646cff;
  --color-hoverText: #dadada;
  --color-primaryText: #dadada;
  --color-secondaryText: #99a1af;
  --color-errorText: #ff0000;
  --color-primaryButton: #646cff;
  --color-hoverButton: #dadada;
  --color-linkAlt: #a855f7;
  --color-linkAltHover: #fafafa;
}

@layer components {
  .button {
    @apply bg-primaryButton text-mainBg! hover:bg-hoverButton rounded px-6 py-3 tracking-wider transition;
  }
  .secondary-button {
    @apply bg-primaryButton text-mainBg! hover:bg-hoverButton rounded px-3 py-2 tracking-wider transition;
  }
}

@layer base {
  html,
  body {
    @apply bg-black;
    overscroll-behavior-y: none;
  }
  main,
  footer {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

:root {
  --font-sans:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono:
    Menlo, Consolas, Monaco, "Cascadia Mono", "Segoe UI Mono", SFMono-Regular,
    ui-monospace, "Liberation Mono", "DejaVu Sans Mono", monospace;

  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 600;
  color: var(--color-interactiveText);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-hoverText);
}
a.link-alt {
  color: var(--color-linkAlt);
}
a.link-alt:hover {
  color: var(--color-linkAltHover);
}

body {
  font-family: var(--font-mono);
  color: var(--color-primaryText);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: 600;
}

dd,
dt {
  @apply ml-6 text-xs italic;
}

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  letter-spacing: 0.025em;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.025em;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.025em;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.025em;
}

th {
  font-weight: 500;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  text-align: left;
  vertical-align: top;
}

td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.375;
  white-space: pre-wrap;
}

.html-cell {
  display: inline;
}

code,
pre,
kbd,
samp {
  font-family: var(--font-mono);
}
