@import "tailwindcss";

@theme {
  --color-mainBg: #0d0614;
  --color-navBg: #171721;
  --color-tileBg: #364153;
  --color-primaryBorder: #646cff;
  --color-secondaryBorder: #202039;
  --color-hoverBorder: #dadada;
  --color-interactiveText: #646cff;
  --color-hoverText: #dadada;
  --color-primaryText: #dadada;
  --color-secondaryText: #99a1af;
  --color-errorText: #ff0000;
  --color-primaryButton: #646cff;
  --color-hoverButton: #dadada;
}

@layer components {
  .button {
    @apply bg-primaryButton !text-mainBg hover:bg-hoverButton rounded px-6 py-3 text-lg transition;
  }
}

@layer base {
  html,
  body {
    overscroll-behavior-y: none; /* or `none` to fully disable */
  }
}

:root {
  font-family:
    Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, "Share Tech Mono",
    monospace;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-interactiveText);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-hoverText);
}

body {
  font-family: "Share Tech Mono", monospace;
  color: var(--color-primaryText);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
